# *Assignment - 1*

## 1. In the below elements which of them are values or an expression?
##### eg:- values can be integer or string and expressions will be mathematical operators.


* 

'hello'

-87.8

- 

/ 

+	

6

#### Ans: 

Expressions :   *, -, /, +<br>
Values      :   'hello', -87.8, 6

## 2. What is the difference between string and variable?

#### Ans:

* String is the text as a value assigned to an variable
* Example:<br>
    var1 = "ineuron"<br>
    x1 = "Data Science"
    
 * var1 and x1 are the variable 
 * "ineuron" and "Data Science" are the strings assigned to the variable var1 and x1 respectively

## 3. Describe three different data types.

1. Integer - Integer values are assigned to the variable (Whole numbers without decimals)  a = 10<br>
   e.g. 1, 2, 3, 4, ..., 0, -1, -2, -3, ....<br>
2. String - It is a sequence of text/ character assigned to the variable within single or double quotes. a="ineuron"<br>
e.g. "ineuron", "data science"<br>
3. Float-  Float is a numerical data type that represents a floating-point number. a=3.14<br>
e.g: 3.14, 6.778<br>
4. List - Lists are collection of homogeneous or heterogeneous elements enclosed within square brackets.
List is mutable.<br>
For Example<br>
l1=[1,2,3,4]<br>
l2 =['a', 1, 1.34, [1, 's', 'd']]<br>
5. Tuple -Tuples are collection of homogeneous or heterogeneous elements enclosed within paranthesis.
Tuple is immutable.<br>
For Example<br>
l1=(1,2,3,4)<br>
l2 =('a', 1, 1.34, [1, 's', 'd'])<br>
6. Set - Set is an unordered collection data type that is mutable and has no duplicate elements. The elements in set is enclosed within curly brackets. 
For Example:<br>
s1 ={'a', 'b', 'c', 1, 2, 3}<br>
7. Dict - Dictionaries are used to store data values in key:value pairs. It is mutable
For Example: <br>
dict1 = {'a': 1, 'b':2, 'c':3, 'd':4, 'e':5}

## 4. What is an expression made up of? What do all expressions do?

#### Expressions:
Example : x = 10 + 3.2

Expression can perform:<br> 
* mathematical opertions (+, -, *, /),
* Relational Operations (==, <=, >=, <, >, !=)
* Logical Operations(and, or, exor, not)

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#### Statements:
Python statements are the code instructions that are executed by the Python interpreter
* spam = 10 # Assigning the value 10 to the variable spam is statement

#### Expressions: 
Expressions performs all mathematical, relational and logical operations

For Example:<br>
spam*2<br>
spam-1<br>
spam/2<br>
spam+2<br>
spam//2<br>
spam**2<br>

In [1]:
#Example
a = 10          # statement 1 
spam = a + 10   # statement 2  (a+10 is the expression)

## 6. After running the following code, what does the variable bacon contain?

bacon = 22<br>
bacon + 1

#### Ans: 
The variable bacon contain the value 22.

In [2]:
bacon = 22
bacon + 1
print(bacon)

22

The variable bacon is assigned with the value 22.<br>
Eventhough bacon is incremented by 1, it is not reassigned.<br> 
Hence the variable contain the assigned value 22.<br>

## 7. What should the values of the following two terms be?
'spam' + 'spamspam'<br>
'spam' * 3

#### Ans:
'spam' + 'spamspam' ==> 'spamspamspam' # Reason: Concating 'spam' with 'spamspam'<br>
'spam' * 3          ==> 'spamspamspam' # Reason: The string spam is multiplied 3 times (i.e string multiplication)

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

#### Ans: 
In python variables cannot be an integers and can't start with integers too. <br>

In [5]:
eggs = 10
print(eggs)

10

In [6]:
100 = 10 # Error Expected (100 is not equal to 10)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4008009787.py, line 1)

In [7]:
# Alternative way
_100 = 10
print(_100)

10

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [8]:
x = 10.1123

In [9]:
int_x = int(x) # int from a value
print(int_x, type(int_x))

10 <class 'int'>

In [10]:
float_x = float(x) # float from a value
print(float_x, type(float_x))

10.1123 <class 'float'>

In [11]:
str_x = str(x) #str from a value
print(str_x, type(str_x))

10.1123 <class 'str'>

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

#### Ans: 
* It is not possible to concat String and integer<br>
    'I have eaten' --> String <br>
     99 --> integer<br>
    'burritos'--> String
    
* Fix : 'I have eaten ' + '99' + ' burritos.' (or) I have eaten ' + str(99) + ' burritos.'

In [12]:
'I have eaten ' + 99 + ' burritos.' #Error Expected (Can't concat string and int)

TypeError: can only concatenate str (not "int") to str

In [14]:
'I have eaten ' + '99' + ' burritos.' #Replacing int 99 as string

'I have eaten 99 burritos.'

In [13]:
'I have eaten ' + str(99) + ' burritos.'  #Replacing int 99 as string

'I have eaten 99 burritos.'